html {
    height: 100%;
    
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-decoration: none;
    
}

.logo {
    position: relative;
    display: flex;
    top: 210px;
    justify-content: center;
    left: 80px;
    
}

.navbar {
    margin-top: 25px;
}


.left {
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-size: 13px;
    padding-left: 15px;
    margin-left: -5px;
}

.right {
    
    display: flex;
    float: right;
    position: relative;
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-top: -7px;
    opacity: .9;
}

#search {
    position: relative;
    background-color: transparent;
    outline: none;
    width: 500px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 245px;
    border-radius: 25px;
    line-height: 44px;
    opacity: 0.75;
    border: 1px solid #dfe1e5;
}

.buttons {
    text-align: center;
    margin-top: 25px;
    
}

.button {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    line-height: 27px;
    padding: 0 16px;
    color: #5F6368;
    border-radius: 5px;
    font-size: 14px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    
}

.apps {
    opacity: 0.65;
    width: 25px;
    height: 25px;
    float: right;
    margin-top: -11px;
}

.footer {
    display: grid;
    grid-template-columns: 100px 100px 150px 1fr 70px 70px 70px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "advertising business how . privacy terms settings";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    height: 50px;
}


#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}
#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#how {
    grid-area: how;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
    
}

a {
    text-decoration: none;
    color: black;
    opacity: 0.78;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}